.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 0;
}

.file-upload-container input[type="file"] {
  display: none; /* Hide the default file input */
}

.file-upload-label {
  background-color: rgb(54, 66, 85);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.file-upload-label:hover {
  background-color: #8ecae6; /* Slightly darker cyan on hover */
}

.upload-button {
  background-color: rgb(54, 66, 85);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  margin-left: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.upload-button:hover {
  background-color: #8ecae6; /* Slightly darker cyan on hover */
}

.file-info {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
  text-align: left;
}

.file-info ul {
  list-style-type: none;
  padding: 0;
}

.file-info li {
  margin: 0.5rem 0;
}

.loader {
  width: 60px;
  aspect-ratio: 1.154;
  color: #457b9d;
  display: grid;
  animation: l38-0 6s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
}
.loader:before {
  clip-path: polygon(25% 0,75% 0,100% 50%,75% 100%,25% 100%,0 50%);
  background: conic-gradient(from -30deg,#0000 60deg,currentColor 0);
}
.loader:after {
  background: conic-gradient(from -30deg,currentColor 60deg,#0000 0);
  animation: l38 0.5s infinite alternate;
}
@keyframes l38-0 {
  0%,16.66%     {transform: rotate(0deg)}
  16.67%,33.33% {transform: rotate(60deg)}
  33.34%,50%    {transform: rotate(120deg)}
  50.1%,66.66%  {transform: rotate(180deg)}
  66.67%,83.33% {transform: rotate(240deg)}
  83.34%,100%   {transform: rotate(300deg)}
}
@keyframes l38 {
  100%  {transform: translateY(-20px)}
}
